/* .....................................

ui / navigation

..................................... */
.logo{
    padding: 30px;
    position: fixed;
    background-color: white;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 50px #2a2a2a;
}
.nav{
    right: 0;
    top: 0px;
    position: fixed;
    padding-right: 20px;
    padding-top: 20px;
    display: none;
}
.nav button{
    background-color: var(--color5);
    color: var(--color4);
    padding: 20px;
    font-size: 30px;
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
.nav button:hover{
    background-color: var(--color3);
    color: var(--color6);
}
@media (orientation: portrait){
    .logo{
        padding: 10px;
        width: 120px;
    }
    .nav{
        right: 0;
        top: 0px;
        position: fixed;
        padding-right: 0px;
        padding-top: 0px;
    }
}

/* .....................................

ui / navigation content

..................................... */
.nav-menu{
    width: 0px;
    height: 100vh;
    background-color: var(--color5);
    position: fixed;
    z-index: 99;
}
.nav-menu-close{
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 60px;
}
.nav-menu-close a{
    color: aliceblue;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
.nav-menu-close a:hover{
    color: var(--color1);
}
.nav-menu-content{
    padding: 50px;
    width: 450px;
    display: none;
}
.nav-menu-content p{
    font-size: 10px;
    text-transform: uppercase;
}
.nav-menu-content a h1{
    color: var(--color4) !important;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}
.nav-menu-content a h1:hover{
    color: var(--color6) !important;
}
.nav-menu-content hr{
    border-top: 1px solid var(--color6);
    background-color: transparent;
}
.nav-menu-content-div{
    height: 10px;
}
.nav-menu-content .agendar{
    background-color: transparent;
    color: aliceblue;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}
.nav-menu-content .agendar:hover{
    color: var(--color4) !important;
    background-color: var(--color6) !important;
}
@media (orientation: portrait){

}

/* .....................................

ui / cover

..................................... */
.grid-cover{
    display: grid;
    grid-template-columns: 40% auto;
}
.about{
    padding-top: 110px;
    padding-left: 60px;
    padding-right: 90px
}
.about hr{
    border-bottom: 1px dotted #ccc;
    background: transparent;
}
.vantagens{
    list-style: circle;
}
.vantagens li{
    padding-bottom: 10px;
}
@media (orientation: portrait){
    .grid-cover{
        display: grid;
        grid-template-columns: auto;
    }
    .about{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px
    }
}
/* .....................................

ui / planos

..................................... */
.planos{
    background-color: var(--color5);
    width: 100%;
    height: 200px;
}


/* .....................................

ui / gmaps

..................................... */
.grid-gmaps{
    display: grid;
    grid-template-columns: auto 60%;
}
.gmaps-dados{
    padding: 80px;
}
.whatsapp-icon{ float: left; padding-right: 10px; }
.instagram-icon{ float: left; padding-right: 10px; }

.whatsapp-icon i{  font-size: 40px; color: green; }
.instagram-icon i{ font-size: 40px; color: var(--color5);}

.whatsapp-num{  font-size: 26px; color: green; }
.instagram-num{ font-size: 26px; color: var(--color5); }

#fade{ opacity: 1; transition: opacity 1 ease-out; }
#fade:hover{
    opacity: .4;
}
.copyright{
    padding-top: 40px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@media (orientation: portrait){
    .grid-gmaps{
        grid-template-columns: auto;
    }
    .gmaps-dados{
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}